@using Microsoft.AspNetCore.Identity;
@using eTickets.Models
@inject UserManager<ApplicationUser> UserManager;

@if (!User.Identity.IsAuthenticated)
{
    // Eğer henüz yetkilendirme yoksa
    <span style="padding:15px"></span>

    <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">
        <i class="bi bi-box-arrow-in-right"></i> Login
    </a>
    <span style="padding:5px"></span>
    <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Register">
        <i class="bi bi-person-plus"></i> Register
    </a>

}
else
{
    @* Eğer kullanı Authenticate olmuşsa *@
    <div class="dropdown">
        <span style="padding:5px"></span>
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown" aria-expanded="true">
            <i class="bi bi-person-badge"></i> Merhaba @UserManager.GetUserName(User)
        </button>
        @* 61 *@
        @* Siparişler görebileceğim kısım *@
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            <li>
                <a class="dropdown-item" asp-controller="Orders" asp-action="Index">
                    <i class="bi bi-list"></i> Orders
                </a>
            </li>
            @* Sadece Admin tarafı için *@
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                        <i class="bi bi-people"></i> Users
                    </a>
                </li>
            }
        </ul>
    </div>
    <span style="padding:5px"></span>
    <form asp-controller="Account" asp-action="Logout">
        <button class="btn btn-outline-danger my-2 my-sm-0" >
            <i class="bi bi-box-arrow-in-right"></i> Logout
        </button>

    </form>
}
